/* Styles for mobile screens
(See responsive.css for media queries) */

/**************************
GENERAL
**************************/

/* site body*/
body {
  background-color: #FAFAFA;
  color: #404040;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  line-height: 1.4em; 
  margin: 0 auto;
  padding: 0;
  }

/* links */
a {
  text-decoration: none;
  color: #404040;
  }

/**************************
NAVIGATION
**************************/

.name {
  text-align: center;
  margin: 30px 0 45px 0;
  color: dimgrey;
  font-weight: 700;
  font-size: 34px; 
}

.main-nav {
  margin: 0 20px 0 -20px;
}

.main-nav li {
  margin: 8px;
  padding: 12px 0;
  display: block;
  background-color: #fff;
  }

/* nav link */
.main-nav a {
  text-transform: uppercase;
  color: dimgrey;
  font-size: 20px;
  font-weight: bold;
  }

/* selected nav link */
.main-nav a.selected, nav a:hover {
  color: silver; }

/**************************
HEADING
**************************/

header {
  margin: 0;
  padding: 5px 0 30px 0;
  width: 100%;
  color: grey;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.greeting-image {
  padding: 50px 0 20px 0;
  width: 65%;
}

.greeting-headline {
  width: 90%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5em;
}

/**************************
BODY
**************************/

.body-container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 90px;
  background-color: #FFF;
  border-top: 5px solid lightblue;
}

.body-section-header {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 65px 0 30px 0;
}

.portfolio-image {
  padding: 55px 0 0 0;
  width: 90%;
}

.portfolio-header {
  font-size: 26px;
  font-weight: 400;
  margin: 40px 0 30px 0;
}

.portfolio-content {
  width: 84%;
  margin: 0 auto;
  }

.skills {
  background: lightblue;
  border-top: 5px solid dimgrey;
  border-bottom: 5px solid silver;
}

.skills-image {
  padding: 55px 0 10px 0;
  max-height: 200px;
}

.skills-header {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0 10px 0;
}

.skills-content {
  width: 80%;
  margin: 0 auto;
}

/**************************
FOOTER
**************************/
footer {
  width: 100%;
  padding-bottom: 30px;
}

.footer-content-header {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 70px 0 20px 0; 
}

.footer-content {
  font-size: 24px;
  line-height: 1.5em;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.padding-bold {
  font-weight: bold;
  margin-left: 15px;
}

.contact-info {
  line-height: 2.5em;
}

.footer-nav-container {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
  display: inline-block;
}

.footer-nav {
  text-decoration: none;
  list-style: none;
  border-top: solid 1px silver;
  padding-top: 35px;
  }

.footer-name {
  float: left;
  font-size: 22px;
  padding-top: 40px;
}

.back-to-top {
  float: right;
  font-size: 18px;  
  text-decoration: none;
  list-style: none;
  color: #404040;
  font-weight: bold; 
}

.hide-on-mobile {
  display: none;
}
